

header {
  z-index: 100;

  .title-bar {
    background: #0BBED3;
    padding: 0;

    .container {
      width: 1200px;  // ~ 1920 * 62%
      margin: auto;
      display: flex;
      justify-content: space-between;
      height: 150px;  // ~ 240 * 62%
      padding: 0;
      align-items: center;

      .logo-user-box {
        display: flex;
        flex-direction: row;

        //.logo {
        //  margin: 0 4px;
        //}
        .simple-logo {
          width: 100px;
          height: 100px;
          border: 2px solid rgba(255, 255, 255, 0.3);
          box-sizing: content-box;
          border-radius: 5px;
          margin-right: 5px;

          img {
            padding: 10%;
            width: 80%;
            height: 80%;
          }
        }
        .avatar {
          width: 104px;
          height: 104px;
          box-sizing: content-box;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }

        .user-account-box {
          margin-left: 20px;

          p {
            font-size: 30px;
            line-height: 1;
            margin-top: 10px;
            margin-bottom: 15px;
          }

          .user-buttons {
            font-size: 24px;

            li {

              a {
                color: $white;

                span {
                  position: relative;

                  .elements-info {
                    position: absolute;
                    top: -5px;
                    right: -10px;
                    font-size: 18px;
                    color: white;
                    @include font(bold);
                    background-color: #e81c7b;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      .nav-box {
        height: 100%;
        width: 35%;
        margin-right: 5%;

        .navigation {

          li {
            width: 25%;

            a {
              height: 150px;
              padding: 0;
              max-width: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              .img-box {
                height: 40px;
                width: 40px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              p {
                margin: 24px 0 0 0;
                font-size: 100%;
                text-transform: uppercase;
                color: $white;
              }

              &:hover {
                background-color: $black;

                &:after {
                  content: '';
                  display: block;
                  background-color: $black;
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  top: 140px;
                  border-radius: 10px;
                }
              }
            }
          }


        }
      }

      .search-logoff-box {

        ul {

          li {

            a {
              color: $white;
              font-size: 30px;
              padding: 16px;
            }

            .search-button {

            }

            .logoff-button {
              color: #e21a61;
              border-left: 2px solid rgba(255, 255, 255, 0.35);
            }
          }
        }
      }
    }
  }

  .title-bar.shrink {

    .container {
      height: 120px;

      .nav-box {

        .navigation {

          li {

            a {
              height: 120px;

              &:hover {

                &:after {
                  top: 110px;
                }
              }
            }
          }
        }
      }

    }
  }
}

main {
  background-color: #DADBDB;

  .container {
    padding-top: 40px;

    .main-header-row {

      .header-box {

        .main-header {
          @include font;
          font-size: 62px; // 100 * 62,5%
          color: $black;
        }
      }

      .buttons-box {
        display: flex;
        align-items: center;

        .button {
          font-size: 18px;  // 30 * 62,5%
          padding: 0;
          margin: 0 5px;
          height: 38px;   // ~ 60 * 62,5%
          border-radius: 3px;
        }

        .add-button {
          width: auto;
          color: $black;
          background-color: transparent;
        }

        .bank-button, .payment-button {
          width: 100px;   // 160 * 62,5%
          background-color: #13bdd2;
          font-size: 18px;  // 30 * 62,5%
          text-transform: uppercase;
        }
      }
    }

    .finance-info-row {

      .balance-box, .available-box, .scheduled-payments-box {

        .balance-header, .available-header, .scheduled-header {
          @include font;
          font-size: 32px;  // 50 * 62,5%
        }
        .fast-pay-button {
          height: 38px; // 60 * 62,5%
          width: 100px; // 160 * 62,5%%
          font-size: 18px; // 30 * 62,5%%
          text-transform: uppercase;
          padding: 0;
          line-height: 30px;
          border-radius: 5px;
          background-color: #13bdd2;
          position: absolute;
          bottom: -10px;
          right: 10px;
        }
      }

      .scheduled-payments-box {
        min-width: 295px;
        position: relative;
      }

      .switch-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .switch-paragraph {
          font-size: 18px;    // 30 * 62,5%
          margin: 0 20px 0 0;
        }

        .switch {
          margin-bottom: 0;

          .switch-paddle {
            border-radius: 5px;
            height: 40px; // 60 * 62,5%
            width: 100px; // 160 * 62,5%
            font-size: 18px;
            color: $black;
            background-color: $white;

            &:after {
              height: 32px; // 51 * 62,5%
              width: 44px; // 70 * 62,5%
              border-radius: 5px;
              background-color: #d9dada;
            }
          }

          .switch-inactive, .switch-active {
            z-index: 2;
            display: block;
          }

          input:checked ~ .switch-paddle::after {
            left: 53px;
            background-color: #80c801;
          }
        }
      }
    }

    .graph-box {
      height: 310px;  // 500 * 62,5%
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .analysis-box {

      .analysis-menu {

        h3 {
          @include font;
          width: 100%;
          font-size: 18px;
          margin-top: 30px;
        }

        button {
          width: 100%;
          height: 40px;
          background-color: #afafaf;
          color: white;
          margin: 2px 0;
          border-radius: 5px;
          text-transform: uppercase;

          &:hover {
            background-color: #13bdd2;
          }
        }

        select {
          text-transform: uppercase;
          background-image: url("../img/select-bg-icon.png");
          background-position: 105% 50%;
          background-repeat: no-repeat;
          background-size: 20px 20px;
        }

        .offer-box {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          width: 100%;
          height: 125px;
          border: solid 2px #a9aaaa;
          margin-bottom: 100px;

          span {
            font-size: 38px;
            color: #13bdd2;
            margin: 15px;
          }
          p {
            width: 60%;
            margin: 0;

          }
        }

      }

      .doughnut-charts-box {
        display: flex;
        justify-content: center;

        .doughnut-chart {
          margin-top: 30px;
          width: 70%;
          margin-bottom: 50px;
        }

        .income-chart {
          background-color: yellow;
        }
        .expences-chart {
          background-color: orchid;
        }
        .balance-chart {
          background-color: hotpink;
        }
      }

    }

    .products-history-row {

      .products-box {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        padding-bottom: 50px;

        .products-header {
          @include font;
          width: 100%;
          display: block;
          margin-left: 10px;
          font-size: 18px;
        }

        .product {
          cursor: pointer;
          height: 110px;  // 180 * 62,5%
          width: 45%;
          min-width: 180px;
          background-color: $white;
          border-radius: 10px;
          margin: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .img-box {
            margin-left: 20px;
            height: 45px;
            width: 45px;

            .icon {
              color: #ACACAC;
              font-size: 45px;
              position: relative;

              .elements-info {
                position: absolute;
                top: -5px;
                right: -5px;
                font-size: 18px;
                color: white;
                @include font(bold);
                background-color: #e81c7b;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
              }
            }
          }

          .info-box {
            margin-left: 20px;

            .info {
              list-style: none;
              margin: 0;
              font-size: 18px;
            }

            .amount-paragraph {
              margin: 0;
            }
          }

          &:hover, &:last-child:not(.info-box) {
            background-color: #13bdd2;

            .img-box {

              .icon {
                color: white;

                .elements-info {
                  background-color: #e81c7b;
                }
              }
            }
          }
        }
      }

      .history-box {
        border-radius: 5px;
        height: 433px;  // 650 * 62,5%

        .history-header {
          @include font;
          width: 100%;
          margin-bottom: 18px;
          font-size: 18px;
        }

        .history-list-box {
          background-color: $white;
          border-radius: 10px;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 380px;

          .history-list {
            margin: 0;
            list-style: none;

            .history-list-el {
              height: 75px;  // 120 * 62,5%
              width: 100%;
              display: flex;
              align-items: center;
              font-size: 18px;  // 30 * 62,5%
              padding-left: 10px;

              .date {
                width: 90px;
                margin: 0 15px;
              }

              .info-box {
                width: 65%;

                .info-text {
                  width: 100%;
                  display: block;
                }

                .info-type {
                  width: 85px;
                  border: 0;
                  font-size: 18px;  // 30 * 62,5%
                  background-image: url("../img/select-bg-icon.png");
                  background-position: 150% 50%;
                  background-repeat: no-repeat;
                  background-size: 20px 20px;
                  padding: 0 24px 0 0;
                  margin: 0;
                  height: auto;
                }
              }

              .price {
                width: 105px;   // 170 * 62,5%
                margin: 0 25px 0 0;
                text-align: right;

                &.income {
                  color: #6eb512;
                }
              }
            }
            li:not(:last-child) {
              border-bottom: 2px #E9E9E9 solid;
            }
          }

          &::-webkit-scrollbar-track {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #ffffff;
            opacity: 0.9;
          }

          &::-webkit-scrollbar {
            width: 12px;
            background-color: #DADBDB;
            opacity: 0.9;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #EBEBEB;
            opacity: 0.9;
          }
        }
      }
    }
  }
}