.icon-envelope:before {
  content: "\e902";
}
.icon-switch:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-cog:before {
  content: "\e994";
}
.icon-keyboard:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-facebook-f:before {
  content: "\e901";
}
.icon-bottom:before {
  content: "\ea50";
}
