body {
  @include roboto_condensedlight;
}

.background {
   background: url(../img/bg.jpg) no-repeat 50% 50% fixed;
   background-size: cover;
   height: auto;
   min-height: 100vh;
 }

 .container {
   padding-top: 15vh;
 }

.main-content {
  background-color: $blue;
  color: $white;
  width: 100%;
  max-width: 545px;
  height: 70vh;
  min-height: 520px;
  text-align: center;
  border-radius: 1%;
  padding-top: 20/606*100%;
  margin: auto;

  .login-header {
    @include roboto_condensedlight;     // bez tego foundatnion nadpisuje font-family zadeklarowany w body??
    font-size: 40px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: -10px;
    letter-spacing: -2px;
  }

  .login-paragraph {
    font-size: 15px;
    letter-spacing: -.5px;
    width: 90%;
    margin: 0 auto 135px auto;
  }

  .login-form {
    border: solid 1px $soft-blue;
    border-radius: 4px;
    height: 275px;
    width: 80%;
    margin:  0 auto 90/606*100%;
    transition: $transition-default;
    position: relative;

    &:hover {
      border-color: $white;
    }

    .avatar {
      height: 100px;
      width: 100px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      right: 40%;
    }

    .username {
      text-align: center;
      width: 100%;
      margin: 50px auto 0;
      padding-top: 26/606*100%;
      height: 60px;

      .id-input {
        display: inline-block;
        width: 409/546*100%;
        height: 35px;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        border-top: solid 2px $light-gray;
        text-align: center;
        transition: $transition-default;;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset;

          &:hover {
            -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset;
          }
          &:focus {
            -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset;
          }
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus {
          box-shadow: inset 0 0 15px $light-gray;
          border-color: $light-gray;
        }
      }

      @include keyboard-button-styles;

      .id-paragraph-box {
        text-align: center;
        margin: 0 auto;

        .id-paragraph {
          @include roboto_condensedbold;
          display: inline-block;
          font-size: 18px;
          margin: 0;
          width: auto;
        }

        .id-reset {
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          padding: 0;
          margin-top: 10px;
          margin-left: 10px;
          background-color: $soft-blue;
          transition: $transition-default;

          &:hover {
            transform: rotate(90deg) scale(1.2);
            background-color: $red;
          }
        }
      }
    }

    .password {
      width: 100%;
      margin: auto;
      padding-top: 5px;

      .password-input {
        display: inline-block;
        width: 409/546*100%;
        height: 35px;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        border-top: solid 2px $light-gray;
        text-align: center;
        transition: $transition-default;
        background-clip: content-box;

        &:focus {
          box-shadow: inset 0 0 15px $light-gray;
          border-color: $light-gray;
        }
      }

      .error {
        border-color: red;
      }

      @include keyboard-button-styles;

      .password-error-msg {
        @include roboto_condensedbold;
        display: inline-block;
        color: $white;
        font-size: 12px;
        background-image: url("../img/icon-warning.png");
        background-position: 5px center;
        background-repeat: no-repeat;
        background-color: red;
        border-radius: 5px;
        padding: 5px 5px 5px 25px;
        margin-top:10px;
        margin-bottom: 5px;
        position: relative;

        &::after {
          content: "";
          display: block;
          border-bottom: 20px red solid;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          position: absolute;
          width: 20px;
          top: -12px;
          left: 15px;
        }
      }
    }

    .button-row {
      margin-top: 45px;

      .button-select-other {
        @include login-button-styles;
        background-color: $blue;

        &:hover {
          background: darken($blue, 8%);
        }

        &:active {
          background: darken($blue, 25%);
        }
      }

      .button-go {
        @include login-button-styles;
        color: $black;
        background-color: $white;

        &:hover {
          background: darken($blue, 8%);
          color: $white;
        }

        &:active {
          background: darken($blue, 25%);
        }
      }
    }
  }
}

.bottom-navigation {
  color: $white;
  max-width: 545px;
  margin: auto;

  .menu {

    li {

      a {
        @include roboto_condensedbold;
        color: $white;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.3px;
        padding: 10px 10px 10px 0;

        &:hover {
          color: darken($blue, 8%);
        }

        &:active {
          color: darken($blue, 25%);
        }
      }
    }
  }

  .socials {
    list-style: none;
    line-height: 1;
    margin: 0;

    li {
      display: list-item;
      width: 100%;
      height: 100%;

      a {
        color: $white;
        display: block;
        padding: 0.7rem 0;
        text-align: right;

        &:hover {
          color: darken($blue, 8%);
        }

        &:active {
          color: darken($blue, 25%);
        }
      }
    }
  }
}