 .background {
   font-family: 'roboto_condensedlight', sans-serif; //czcionke mozesz wrzucic do body
   background: url(../img/bg.jpg) no-repeat 50% 80% fixed;
   background-size: cover;
   height: auto;
   min-height: 100%;
   min-width: 674px;
   position: fixed;
   width: 100%;
 }

 .container {
   padding-top: 15vh;
 }

.main-content {
  background-color: $blue;
  color: $white;
  width: 100%;
  max-width: 545px;
  height: 70vh;
  min-height: 520px;
  text-align: center;
  border-radius: 1%;
  padding-top: 20/606*100%;
  margin: auto;

  .login-header {
    font-family: 'roboto_condensedlight', sans-serif; // przypisanie głównego kroju czcionki powinno byc w body zeby nie musieć powtarzać stylu
    font-size: 40px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: -10px;
    letter-spacing: -2px;
  }

  .login-paragraph {
    font-size: 15px;
    letter-spacing: -.5px;
    width: 90%;
    margin: 0 auto 135px auto;
  }

  .login-form {
    border: solid 1px $soft-blue;
    border-radius: 4px;
    height: 250px;
    width: 80%;
    margin:  0 auto 90/606*100%;
    transition: $transition-default;

    &:hover {
      border-color: $white;
    }

    .avatar {
      height: 100px;
      width: 100px;
      margin: -50px auto 0 auto; // ujemny margines nie jest ładnym rozwiązaniem. Ustaw avatar absolutem
      background-color: $white;
      border-radius: 50%;

      //.avatar-img {
      //  width: 100%;
      //  height: 100%;
      //}
    }

    .username {
      text-align: center;
      width: 80%;
      padding-top: 26/606*100%;
      margin: auto;

      .id {
        display: inline-block;
        font-family: 'roboto_condensedbold', sans-serif; // mozesz utworzyc mixin z czcionka roboto, roboto_bold i roboto_light. Będziesz miał mniej pisania :)
        font-size: 18px;
        margin: 0;
        width: auto;
      }

      .reset-username {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        padding: 0;
        margin-top: 10px;
        margin-left: 10px;
        background-color: $soft-blue;
        transition: $transition-default;

        &:hover {
          transform: rotate(90deg) scale(1.2);
          background-color: red; // wrzuć kolorek do zmiennej
        }
      }
    }

    .password {
      width: 100%;
      margin: auto;
      padding-top: 5px;

      .password-input {
        display: inline-block;
        width: 409/546*100%;
        height: 35px;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        border-top: solid 2px $ight-gray; //chyba miales na mysli $light-gray
        text-align: center;
        transition: $transition-default;

        &:focus {
          box-shadow: inset 0 0 15px $ight-gray;
          border-color: $ight-gray;
        }
      }

      .error {
        border-color: red;
      }

      .on-screen-keyboard {
        display: inline-block;
        height: 35px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        transition: $transition-default;

        &:hover {
          transform: scale(1.2);
        }

        &:active {
          color: darken($blue, 25%);
        }

        .icon-keyboard:before {
          content: "\e900";
          font-size: 30px;
          margin-left: 10px;
        }
      }

      .error-message {
        display: inline-block;
        color: $white;
        font-family: 'roboto_condensed', sans-serif;
        font-size: 12px;
        background-image: url("../img/icon-warning.png");
        background-position: 0 center;
        background-repeat: no-repeat;
        padding-left: 20px;
      }
    }

    .button-row {
      padding-top: 20px;
      margin: auto;

      .login-button {
        padding: 0;
        border: 0;
        font-size: 15px;
        width: 118px;
        height: 31px;
        border-radius: 2px;
        text-transform: uppercase;
        line-height: 31px;
      }

      .button-select-other {
        background-color: $blue;

        &:hover {
          background: darken($blue, 8%);
        }

        &:active {
          background: darken($blue, 25%);
        }
      }

      .button-go {
        color: $black;
        background-color: $white;

        &:hover {
          background: darken($blue, 8%);
          color: $white;
        }

        &:active {
          background: darken($blue, 25%);
        }
      }
    }
  }
}

.bottom-navigation {
  color: $white;
  max-width: 545px;
  margin: auto;

  .menu {

    li {

      a {
        color: $white;
        text-transform: uppercase;
        font-size: 11px;
        font-family: 'roboto_condensedbold', sans-serif;
        letter-spacing: 0.3px;
        padding: 10px 10px 10px 0;

        &:hover {
          color: darken($blue, 8%);
        }

        &:active {
          color: darken($blue, 25%);
        }
      }
    }
  }

  .socials {
    list-style: none;
    line-height: 1;
    margin: 0;

    li {
      display: list-item;
      width: 100%;
      height: 100%;

      a {
        color: $white;
        display: block;
        padding: 0.7rem 0;
        text-align: right;

        &:hover {
          color: darken($blue, 8%);
        }

        &:active {
          color: darken($blue, 25%);
        }

        .icon-facebook:before { //wrzucilbym ten styl do oddzielnego pliku scss o nazwie icons.scss. Trzymałbym tam wszystkie klasy ikon, tak żeby można ich było użyc w całej aplikacji
          content: "\e901";
        }
      }
    }
  }
}
